@media (max-width:600px) {
    .logo a{
        font-size: 1rem;
    }
}
@media (max-width:768px) {
    
}
@media (max-width:1024px) {
    
}

@media (max-width:1280px) {
    
}

@media (max-width:1536px) {
    
}

.logo a{
    font-size: 5vw;
 }
 .logo{
   left:10vw; 
 }
 .searcharea{
    right: 10vw;
 }
 .section1 img{
    height: 33vw;
    top: 37%;
 }
 .search1button{
    right: -10%;
    top: 60%;
 }
 .search1button h1{
    font-size: 6vw;
    letter-spacing: 0.5vw;
 }
 .search1button h2{
    font-size: 4vw;
    letter-spacing: 0.8vw;
    line-height: 5vw;
 }
 .btn1{
    height:4vw ;
    width:10vw ;
    font-size: 2vw;
    border-radius: 2vw;
 }


